<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | 404</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia">
	<% include ./robots %>
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<main>
		<div class="top-wrapper">
			<h1>404 Error</h1>
			<h3>moviebomber.org</h3>
			<h3>page not found</h3>
			<br>
			<a href="/" class="waves-effect waves-light btn-large purple lighten-1">
				<i class="material-icons left">house</i>
				home
			</a>
		</div>
	</main>
</body>
</html>