<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | about</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="description" content="Learn more about moviebomber.org, the #1 online movie trivia game!">
	<% include ./robots %>
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/about">
						<i class="material-icons">help_outline</i>
						about
					</a>
				</h3>

				<h5>Game Modes</h5>
				<p><i><b>1. Bomber</b></i></p>
				<p>In this game mode you are prompted to either:</p>
				<ul>
					<li>1. Select the correct actor who stars in the given film</li>
					<li>2. Select the correct film featuring the given actor</li>
				</ul>
				<p>If you answer incorrectly the type of question that you are prompted with will flip, and you will be prompted to select an actor or movie.</p>
				<p>The first question proceeding a category rotation has no impact on your score or remaining lives, it merley gets the game back on track.</p>
				<p>Start with 6 lives. A correct answer gets you 1 point. An incorrect answer takes away a life. Try to beat your high score.</p>

				<p><i><b>2. Classic</b></i></p>
				<p>Guess the actor/actress that starred in the movie. Start with 6 lives. A correct answer gets you 1 point. An incorrect answer takes away a life. Try to beat your high score.</p>

				<p><i><b>3. Trivia</b></i></p>
				<p>Answer custom trivia questions from both movies and TV. Start with 6 lives. A correct answer gets you 1 point. An incorrect answer takes away a life. There are a limited amount of questions, so either try to beat your high score or complete all of the questions before running out of lives.</p>

				<p><i><b>4. Player v. Player (COMING SOON!)</b></i></p>
				<p>We are currently working on multi-player moviebomber games. Please stay tuned and check back often.</p>

				<h5>The Concept</h5>
				<p>Although we've been unable to locate and verify the true source of the game, it seems like a handful of people are familiar with how it works and have actual played it with some variation of the classic rules. Here's an example of how we here at moviebomber.org play moviebomber in the office.</p> 
				<p>I start off the game by saying "The Godfather (1972)". The next person in the rotation needs to name an actor in The Godfather so they say "Al Pacino". No one wants to challenge that Al Pacino was in The Godfather so the game continues. The next person says "Serpico (1973)" and now its my turn again. I don't know anyone else that was in Serpico and I suspect that the person who chose that movie doesn't either so I decide to challange. In this scenario I've underestimated my opponent who immediately says M. Emmet Walsh, giving me a "B". If I get another answer wrong I will get an "O", followed by an "M", etc. If I accrue enough letters to spell "BOMBER" by answering questions incorrectly or losing challenges, then I am eliminated from the game. But for now I need to choose a courtesy movie to start the game up again. When this happens, the rotation is reversed and I send it back to my opponent.</p>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>