<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | about</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="robots" content="index,follow">
	<meta name="description" content="Learn more about moviebomber.org, the #1 online movie trivia game!">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/about">
						<i class="material-icons">help_outline</i>
						about.
					</a>
				</h3>
				<h6>What is moviebomber?</h6>
				<p>Here's an example of how the game is traditionally played with 3 players, in real life: I start off the game by saying "The Godfather (1972)". The next person in the rotation needs to name an actor in The Godfather so they say "Al Pacino". No one wants to challenge that Al Pacino was in The Godfather so the game continues. The next person says "Serpico (1973)" and now its my turn again. I don't know anyone else that was in Serpico and I suspect that the person who chose that movie doesn't either so I decide to challange. In this scenario I've underestimated my opponent who immediately says M. Emmet Walsh, giving me a "B". If I get another answer wrong I will get an "O", followed by an "M", etc. If I accrue enough letters to spell "BOMBER" by answering questions incorrectly or losing challenges, then I am eliminated from the game. But for now I need to choose a courtesy movie to start the game up again. When this happens, the rotation is reversed and I send it back to my opponent.</p>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/init.js"></script>
</body>
</html>