<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | about</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="description" content="Learn more about moviebomber.org, the #1 online movie trivia game!">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="sub-wrapper">
					<div class="col s12">
						<h4>
							<a href="/about" class="valign-wrapper">
								<i class="material-icons left mb-orange-text">help_outline</i>
								about the website
							</a>
						</h4>
					</div>

					<div class="col s12">
						<h5>The Rules</h5>
						<p class="valign-wrapper"><i class="material-icons left">filter_1</i>Start with 6 lives</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_2</i>You get 10 seconds to answer each question</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_3</i>Correct answers earn 10pts</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_4</i>Increase your score with streak bonuses (2, 5, and 10 correct in a row)</p>
					</div>

					<div class="col s12">
						<h5>The Concept Explained</h5>
						<p>Although we've been unable to locate and verify the true source of the game, it seems like a handful of people are familiar with how it works and have actual played it with some variation of the classic rules. Here's a verbose example of how we here at moviebomber.org play "bomber" in the office.</p>
						<p>I start off the game by saying "The Godfather (1972)". The next person in the rotation needs to name an actor in The Godfather so they say "Al Pacino". No one wants to challenge that Al Pacino was in The Godfather so the game continues. The next person says "Serpico (1973)" and now its my turn again. I don't know anyone else that was in Serpico and I suspect that the person who chose that movie doesn't either so I decide to challange. In this scenario I've underestimated my opponent who immediately says M. Emmet Walsh, giving me a "B". If I get another answer wrong I will get an "O", followed by an "M", etc. If I accrue enough letters to spell "BOMBER" by answering questions incorrectly or losing challenges, then I am eliminated from the game. But for now I need to choose a courtesy movie to start the game up again. When this happens, the rotation is reversed and I send it back to my opponent.</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>