<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | about</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="description" content="Learn more about moviebomber.org, the #1 online movie trivia game!">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="sub-wrapper">
					<div class="col s12">
						<h5>
							<a href="/about" class="valign-wrapper">
								<i class="material-icons left mb-orange-text">help_outline</i>
								About the Website
							</a>
						</h5>
					</div>

					<div class="col s12">
						<h5>The Rules</h5>
						<p class="valign-wrapper"><i class="material-icons left">filter_1</i>Start with 6 lives</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_2</i>10 seconds to answer each question</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_3</i>Correct answers earn 10pts</p>
						<p class="valign-wrapper"><i class="material-icons left">filter_4</i>Increase your score with streak bonuses (2, 5, and 10 correct in a row)</p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>