<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | leaderboard</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia">
	<meta name="description" content="View user highscores on the moviebomber.org leaderboard!">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="sub-wrapper">
					<h5>
						<a href="/board" class="valign-wrapper">
							<i class="material-icons left mb-orange-text">insert_chart</i>
							Leaderboard
						</a>
					</h5>
					<table id="leaderboard" class="table leaderboard" style="width:100%"></table>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dataTables.min.js"></script>
	<script>
		let socketString = <%-JSON.stringify(socket)%>;
		let uriString = window.location.href;
		let uri = new URL(uriString);
		let user = uri.searchParams.get('u');

		let data = <%- JSON.stringify(scores) %>
		$('#leaderboard').DataTable({
			bLengthChange: false,
			bSort: true,
			data: data,
			columns: [
				{ title: 'Name', data: 'username' },
				{ title: 'Score', data: 'score' },
				{ title: 'Mode', data: 'mode' }
			],
			columnDefs: [
				{ 'className': 'dt-center', 'targets': '_all' }
			],
			order: [[1, "desc"]]
		});
		if (user) {
			let table = $('#board1').DataTable();
			table.search(user).draw();
		}
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>