<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | bomber</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="description" content="Play moviebomber and try to beat your high score!">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>
	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<% include ./gameover %>
				<div id="board" class="gcontainer z-index-4">
					<% include ./nametag %>
					<% include ./stats %>
					<br>
					<div id="prompts" class="row">
						<div class="prompts-container z-index-4">
							<div class="icon">
								<i id="face" class="material-icons">data_usage</i>
								<i id="faceLoader" class="material-icons" style="display: none;">data_usage</i>
							</div>
							<div class="text">
								<div class="prompt slide" id="prompt"></div>
							</div>
						</div>
					</div>
					<div class="row buttons-container">
						<div class="buttons">
							<div class="button-wrapper z-index-4">
								<div class="icon">A</div>
								<div class="text button waves-effect point" data-id=""></div>
							</div>
							<br>
							<div class="button-wrapper z-index-4">
								<div class="icon">B</div>
								<div class="text button waves-effect point" data-id=""></div>
							</div>
							<br>
							<div class="button-wrapper z-index-4">
								<div class="icon">C</div>
								<div class="text button waves-effect point" data-id=""></div>
							</div>
							<br>
							<div class="button-wrapper z-index-4">
								<div class="icon">D</div>
								<div class="text button waves-effect point" data-id=""></div>
							</div>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<% include ./footer %>

	<script>
		let socketString = <%-JSON.stringify(socket)%>;
		let usernameString = <%-JSON.stringify(username)%>;
		let userIdString = <%-JSON.stringify(userId)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/bomber.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>