<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | Error</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia">
	<style>
		body, html {
			max-height: 100%;
			padding: 5%;
			font-size: 20px;
			font-family: 'Montserrat', sans-serif;
			color: #fafafa;
			background-color: #1b1b1b;
		}
	</style>
</head>
<body>
	<main>
		<div>
			<div>
				<div>
					<div><h3>Error</h3></div>
					<div><span>moviebomber.org</span></div>
					<div>
						<p>Please hold tight while our team works to resolve the issue!</p>
					</div>
				</div>
				<div>
					<div>
						<a href="/">Home</a>
					</div>
				</div>
				<% if (typeof env != 'undefined' && env.includes('dev')) { %>
					<div>
						<div><span><%= error.status %></span></div>
						<div><pre><%= error.stack %></pre></div>
					</div>
				<% } %>
			</div>
		</div>
	</main>
</body>
</html>