<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">moviebomber.org</h5>
				<p class="grey-text text-lighten-4">The #1 Online Movie Trivia Game.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<ul>
					<li><a class="grey-text text-lighten-3" href="mailto:anthony@moviebomber.org">Contact</a></li>
					<li><a class="grey-text text-lighten-3" href="/terms">Terms of Use</a></li>
					<li><a class="grey-text text-lighten-3" href="/privacy">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2019 moviebomber.org
		</div>
	</div>
</footer>