<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="robots" content="index,follow">
	<meta name="description" content="moviebomber.co is a free online movie trivia game.">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/loaders.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="/css/land.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<br>
				<h6>Welcome to moviebomber.org</h6>
				<h2>Name any movie...</h2>

				<div class="row">
					<div class="input-field col s12">
						<input type="text">
					</div>
				</div>

				<div>
					<span id="response">
						<span>That's</span>
						<span>a</span>
						<span>Great</span>
						<span>Movie!</span>
						<a id="what" href="https://www.youtube.com/watch?v=0isvq7-vBqk">I don't get it...</a>
					</span>
				</div>

				<canvas id="myChart"></canvas>

				<br>
				<h5 class="valign-wrapper">
					<i class="material-icons left">import_contacts</i>
					new users log.
				</h5>
				<% if (newUsers) { %>
					<% newUsers.forEach(u => { %>
						<p class="valign-wrapper newUser">
							<i class="material-icons left">exposure_plus_1</i>
							<a href="/@/<%-u%>"><%-u%></a>
						</p>
					<% }); %>
				<% } %>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/Chart.bundle.min.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/land.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>