<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Movies, Trivia, Free Trivia, Free Movie Trivia">
	<meta name="robots" content="index,follow">
	<meta name="description" content="moviebomber.org is a free online movie trivia game.">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/loaders.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<br>
			<div class="content-wrapper col s12 m8 offset-m2 xl6 offset-xl3">
				<div class="row register">
					<div class="col s12">
						<h5 class="left">
							<a href="/login">Sign In</a>
						</h5>
					</div>
					<div class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<input id="username" name="username" type="text" class="login" required>
								<label for="username">Username</label>
							</div>
							<div class="input-field col s12">
								<input id="password" name="password" type="password" class="login" required>
								<label for="password">Password</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<a id="submit" class="waves-effect waves-light btn mb-deep-grey lighten-1">sign in</a>
								<a href="/register" class="waves-effect waves-light btn grey">register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/login.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>