<div id="nametag" class="row ucontainer">
    <% if (user) { %>
        <div class="col s6 m3">
            <span class="valign-wrapper"><i class="material-icons left mb-orange-text">portrait</i><%-username%></span>
        </div>
        <div class="col s6">
            <span class="valign-wrapper"><i class="material-icons left mb-orange-text">poll</i><%-rank%></span></span>
        </div>
    <% } else { %>
        <div class="col s6 m3">
            <span class="valign-wrapper"><i class="material-icons left mb-orange-text">portrait</i>Player 1</span>
        </div>
        <div class="col s6">
            <span class="valign-wrapper"><i class="material-icons left mb-orange-text">poll</i><a href="/register">Visitor</a></span>
        </div>
    <% } %>
</div>