<header>
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo hide-on-med-and-down">
				<img src="/images/logo.png" alt="mb-logo">
			</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul class="left hide-on-large-only">
				<a href="/">
					<i class="material-icons">home</i>
				</a>
			</ul>

			<ul class="right hide-on-med-and-down">
				<% if (!user) { %>
					<li>
						<a href="/login">sign in</a>
					</li>
				<% } else { %>
					<li>
						<a id="navUsername" class="dropdown-trigger" href="#" data-target="user">
							<%-username%>
							<i id="notification" class="material-icons right violet">add_alert</i>
						</a>
					</li>
				<% } %>
			</ul>

			<ul class="right">
				<li class="mr-5">
					<input id="navSearch" type="text" placeholder="search">
				</li>
			</ul>
		</div>
	</nav>
</header>

<ul id="user" class="dropdown-content">
	<li><a href="/account/profile"><i class="material-icons cyan-text">person</i>Profile</a></li>
	<li><a href="/account/preferences"><i class="material-icons cyan-text">settings</i>Settings</a></li>
	<li><a href="/account/inbox"><i class="material-icons cyan-text">mail</i>Inbox</a></li>
	<li style="display: none;" class="challenge"><a><i class="material-icons amber-text">alarm_on</i>Challenge</a></li>
	<li class="divider" tabindex="-1"></li>
	<li><a href="/logout"><i class="material-icons purple-text">power_settings_new</i>Sign out</a></li>
</ul>

<ul class="sidenav" id="mobile-demo">
	<h4>
		<a class="valign-wrapper">
			<i class="material-icons left cyan-text">bookmark</i>
			nav
		</a>
	</h4>
	<li><a href="/">Home</a></li>
	<% if (!user) { %>
		<li><a href="/login">Sign in</a></li>
	<% } else { %>
		<li><a href="/account/preferences">Settings</a></li>
		<li><a href="/account/inbox">Inbox</a></li>
	<% } %>
	<li><a href="/board">Leaderboard</a></li>
	<% if (user) { %>
		<li><a href="/logout">Logout</a></li>
	<% } %>
</ul>