<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | privacy policy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="View our Privacy Policy">
	<% include ./robots %>
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/about">
						<i class="material-icons">lock</i>
						Privacy Policy
					</a>
				</h3>

				<p>Your privacy is critically important to us. At moviebomber.org, we have a few fundamental principles:</p>
				<ul>
					<li>We are thoughtful about the personal information we ask you to provide and the personal information that we collect about you through the operation of our services.</li>
					<li>We store personal information for only as long as we have a reason to keep it.</li>
					<li>We aim to make it as simple as possible for you to control what information on your website is shared publicly (or kept private), indexed by search engines, and permanently deleted.</li>
					<li>We help protect you from overreaching government demands for your personal information.</li>
					<li>We aim for full transparency on how we gather, use, and share your personal information.</li>
				</ul>
				<p>Below is our Privacy Policy, which incorporates and clarifies these principles.</p>

				<h5>Who We Are and What This Policy Covers</h5>
				<p>Hello! We are the folks behind the rapidly growing online film and gaming community, moviebomber.org. Our services are designed to allow anyone -- from film nerds (like us!), to industry professionals, gamers, and casual movie goers -– to take full advantage of the power and promise of the open web and join us in celebrating the great art of film appreciation. This Privacy Policy applies to information that we collect about you when you our website (moviebomber.org).</p>
				<p>Throughout this Privacy Policy we’ll refer to our website and services collectively as “Services.” Please note that this Privacy Policy does not apply to any of our products or services that have a separate privacy policy. Below we explain how we collect, use, and share information about you, along with the choices that you have with respect to that information.</p>

				<h5>Information We Collect</h5>
				<p>We only collect information about you if we have a reason to do so–for example, to provide our Services, to communicate with you, or to make our Services better. We collect information in three ways: if and when you provide information to us, automatically through operating our Services, and from outside sources. Let’s go over the information that we collect.</p>
				<p><i>Information You Provide to Us</i></p>
				<p>It’s probably no surprise that we collect information that you provide to us. The amount and type of information depends on the context and how we use the information. Here are some examples:</p>
				<ul>
					<li>Basic Account Information: We ask for basic information from you in order to set up your account. For example, we require individuals who sign up for a moviebomber.org account to provide an email address along with a username or name, depending on the service–and that’s it. You may provide us with more information -- like your address and other information you want to share -- but we don’t require that information to create a moviebomber.org account.</li>
					<li>Public Profile Information: If you have an account with us, we collect the information that you provide for your public profile. For example, if you have a moviebomber.org account, your username is part of that public profile, along with any other information you put into your public profile, such as a photo or an “About Me” description. Your public profile information is just that–public–so please keep that in mind when deciding what information you would like to include.</li>
					<li>Content Information: Depending on the Services you use, you may also provide us with information about you in draft and published content (such as for your website or your Crowdsignal survey). For example, if you write a blog post that includes biographic information about you, we will have that information, and so will anyone with access to the Internet if you choose to publish the post publicly. This might be obvious to you…but it’s not to everyone!</li>
					<li>Credentials: Depending on the Services you use, you may provide us with credentials for your account (like a username and password).</li>
					<li>Communications with Us (Hi There!): You may also provide us information when you respond to surveys, communicate with our Engineers about a support question, post a question about your site in our public forums, or sign up for a newsletter like the one we send through Longreads. When you communicate with us via form, email, phone, moviebomber.org comment, or otherwise, we store a copy of our communications (including any call recordings as permitted by applicable law).</li>
				</ul>
				<p><i>Information We Collect Automatically</i></p>
				<p>We also collect some information automatically:</p>
				<ul>
					<li>Log Information: Like most online service providers, we collect information that web browsers, mobile devices, and servers typically make available, such as the browser type, IP address, unique device identifiers, language preference, referring site, the date and time of access, operating system, and mobile network information. We collect log information when you use our Services–for example, when you create or make changes to your website on moviebomber.org.</li>
					<li>Usage Information: We collect information about your usage of our Services. For example, we collect information about the games that you have played, such as the aggregate number of games that you have played, your opponents, scores and related activities. We also collect information about what happens when you use our Service, interactions with our support team and other parts of our Services) along with information about your device (e.g., screen size, name of cellular network, and mobile device manufacturer). We use this information to, for example, provide our Services to you, as well as get insights on how people use our Services, so we can make our Services better.</li>
					<li>Location Information: We may determine the approximate location of your device from your IP address. We collect and use this information to, for example, calculate how many people visit our Services from certain geographic regions.</li>
					<li>Interactions with Other Users’ Sites: We collect some information about your interactions with other users while you are logged in to your account with us, such as your games played with other users and your comments and replies on other users' blog posts.</li>
					<li>Information from Cookies & Other Technologies: A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pixel tags (also called web beacons) are small blocks of code placed on websites and emails. Moviebomber.org uses cookies and other technologies like pixel tags to help us identify and track visitors, usage, and access preferences for our Services, as well as track and understand email campaign effectiveness and to deliver targeted ads. For more information about our use of cookies and other technologies for tracking, including how you can control the use of cookies, please see our Cookie Policy.</li>
				</ul>
				<p><i>Information We Collect from Other Sources</i></p>
				<p>We may also get information about you from other sources. For example, we may get information, such as a mailing address, from third party services about individuals who are not yet our users (…but we hope will be!), which we may use, for example, for marketing and advertising purposes like postcards and other mailers advertising our services.</p>

				<h5>How and Why We Use Information</h5>
				<p><i>Purposes for Using Information</i></p>
				<p>We use information about you as mentioned above and for the purposes listed below:</p>
				<ul>
					<li>To provide our Services–for example, to set up and maintain your account, host your website, backup and restore your website, charge you for any of our paid Services, or provide essays and stories for your reading pleasure through Longreads;</li>
					<li>To further develop and improve our Services–for example by adding new features that we think our users will enjoy or will help them to create and manage their websites more efficiently;</li>
					<li>To monitor and analyze trends and better understand how users interact with our Services, which helps us improve our Services and make them easier to use;</li>
					<li>To measure, gauge, and improve the effectiveness of our advertising, and better understand user retention and attrition--for example, we may analyze how many individuals purchased a paid plan after receiving a marketing message or the features used by those who continue to use our Services after a certain length of time;</li>
					<li>To monitor and prevent any problems with our Services, protect the security of our Services, detect and prevent fraudulent transactions and other illegal activities, fight spam, and protect the rights and property of moviebomber.org and others, which may result in us declining a transaction or the use of our Services;</li>
					<li>To communicate with you, for example through an email, about offers and promotions offered by moviebomber.org and others we think will be of interest to you, solicit your feedback, or keep you up to date on moviebomber.org and our products (which you can unsubscribe from at any time); and</li>
					<li>To personalize your experience using our Services, provide content recommendations, target our marketing messages to groups of our users, and serve relevant advertisements.</li>
				</ul>
				<p><i>Legal Bases for Collecting and Using Information</i></p>
				<p>A note here for those in the European Union about our legal grounds for processing information about you under EU data protection laws, which is that our use of your information is based on the grounds that: (1) The use is necessary in order to fulfill our commitments to you under the applicable terms of service or other agreements with you or is necessary to administer your account--for example, in order to enable access to our website on your device or charge you for a paid plan; or (2) The use is necessary for compliance with a legal obligation; or (3) The use is necessary in order to protect your vital interests or those of another person; or (4) We have a legitimate interest in using your information -- for example, to provide and update our Services; to improve our Services so that we can offer you an even better user experience; to safeguard our Services; to communicate with you; to measure, gauge, and improve the effectiveness of our advertising; to understand our user retention and attrition; to monitor and prevent any problems with our Services; and to personalize your experience; or (5) You have given us your consent--for example before we place certain cookies on your device and access and analyze them later on, as described in our Cookie Policy.</p>

				<h5>Sharing Information</h5>
				<p><i>How We Share Information</i></p>
				<p>We do not sell our users’ private personal information. We share information about you in the limited circumstances spelled out below and with appropriate safeguards on your privacy:</p>
				<ul>
					<li>Subsidiaries, Employees, and Independent Contractors: We may disclose information about you to our subsidiaries, our employees, and individuals who are our independent contractors that need to know the information in order to help us provide our Services or to process the information on our behalf. We require our subsidiaries, employees, and independent contractors to follow this Privacy Policy for personal information that we share with them.</li>
					<li>Third Party Vendors: We may share information about you with third party vendors who need to know information about you in order to provide their services to us, or to provide their services to you or your site.</li>
					<li>Legal and Regulatory Requirements: We may disclose information about you in response to a subpoena, court order, or other governmental request.</li>
					<li>To Protect Rights, Property, and Others: We may disclose information about you when we believe in good faith that disclosure is reasonably necessary to protect the property or rights of moviebomber.org, third parties, or the public at large. For example, if we have a good faith belief that there is an imminent danger of death or serious physical injury, we may disclose information related to the emergency without delay.</li>
					<li>Business Transfers: In connection with any merger, sale of company assets, or acquisition of all or a portion of our business by another company, or in the unlikely event that moviebomber.org goes out of business or enters bankruptcy, user information would likely be one of the assets that is transferred or acquired by a third party. If any of these events were to happen, this Privacy Policy would continue to apply to your information and the party receiving your information may continue to use your information, but only consistent with this Privacy Policy.</li>
					<li>With Your Consent: We may share and disclose information with your consent or at your direction.</li>
					<li>Aggregated or De-Identified Information: We may share information that has been aggregated or reasonably de-identified, so that the information could not reasonably be used to identify you. For instance, we may publish aggregate statistics about the use of our Services and we may share a hashed version of your email address to facilitate customized ad campaigns on other platforms.</li>
				</ul>

				<p><i>Information Shared Publicly</i></p>
				<p>Information that you choose to make public is–you guessed it–disclosed publicly. That means, of course, that information like your public profile, posts, other content that you make public are all available to others. For example, the photo that you upload to your public profile, or a default image if you haven’t uploaded one, is your Globally Recognized Avatar, or Gravatar--get it?. Your Gravatar, along with other public profile information, will display with the comments and “Likes” that you make on other users’ websites while logged in to your moviebomber.org account. Your Gravatar + public profile information may also display with your comments, “Likes,” and other interactions on websites that use our Gravatar service, if the email address associated with your account with us is the same as the email address that you use on the other website. Public information may also be indexed by search engines or used by third parties. Please keep all of this in mind when deciding what you would like to share.</p>

				<h5>How Long We Keep Information</h5>
				<p>We generally discard information about you when we no longer need the information for the purposes for which we collect and use it--which are described in the section above on How and Why We Use Information--and we are not legally required to continue to keep it. For example, we keep the web server logs that record information about a visitor to one of moviebomber.org's websites, such as the visitor’s IP address, browser type, and operating system, for approximately 30 days. We retain the logs for this period of time in order to, among other things, analyze traffic to moviebomber.org's website and investigate issues if something goes wrong on one of our websites.</p>

				<h5>Security</h5>
				<p>While no online service is 100% secure, we work very hard to protect information about you against unauthorized access, use, alteration, or destruction, and take reasonable measures to do so, such as monitoring our Services for potential vulnerabilities and attacks.</p>

				<h5>Choices</h5>
				<p>You have several choices available when it comes to information about you:</p>
				<ul>
					<li>Limit the Information that You Provide: If you have an account with us, you can choose not to provide the optional account information, profile information, and transaction and billing information. Please keep in mind that if you do not provide this information, certain features of our Services–for example, paid, premium themes–may not be accessible.</li>
					<li>Limit Access to Information on Your Mobile Device: Your mobile device operating system should provide you with the ability to discontinue our ability to collect stored information or location information via our mobile apps. If you do so, you may not be able to use certain features (like adding a location to a photograph, for example).</li>
					<li>Opt-Out of Marketing Communications: You may opt out of receiving promotional communications from us. Just follow the instructions in those communications or let us know. If you opt out of promotional communications, we may still send you other communications, like those about your account and legal notices.</li>
					<li>Set Your Browser to Reject Cookies: At this time, moviebomber.org does not respond to “do not track” signals across all of our Services. However, you can usually choose to set your browser to remove or reject browser cookies before using moviebomber.org, with the drawback that certain features may not function properly without the aid of cookies.</li>
					<li>Close Your Account: While we’d be very sad to see you go, if you no longer want to use our Services, you can close your account. Please keep in mind that we may continue to retain your information after closing your account, as described in How Long We Keep Information above--for example, when that information is reasonably needed to comply with (or demonstrate our compliance with) legal obligations such as law enforcement requests, or reasonably needed for our legitimate business interests.</li>
				</ul>

				<h5>Your Rights</h5>
				<p>If you are located in certain countries, including those that fall under the scope of the European General Data Protection Regulation (AKA the “GDPR”), data protection laws give you rights with respect to your personal data, subject to any exemptions provided by the law, including the rights to:</p>
				<ul>
					<li>Request access to your personal data;</li>
					<li>Request correction or deletion of your personal data;</li>
					<li>Object to our use and processing of your personal data;</li>
					<li>Request that we limit our use and processing of your personal data; and</li>
					<li>Request portability of your personal data.</li>
				</ul>
				<p>You can usually access, correct, or delete your personal data using your account settings and tools that we offer, but if you aren’t able to do that, or you would like to contact us about one of the other rights, scroll down to How to Reach Us to, well, find out how to reach us. EU individuals also have the right to make a complaint to a government supervisory authority.</p>
				
				<h5>How to Reach Us</h5>
				<p>If you have a question about this Privacy Policy, or you would like to contact us about any of the rights mentioned in the Your Rights section above, please contact us.</p>

				<h5>Other Things You Should Know (Keep Reading!)</h5>
				<p><i>Ads and Analytics Services Provided by Others</i></p>
				<p>Ads appearing on any of our Services may be delivered by advertising networks. Other parties may also provide analytics services via our Services. These ad networks and analytics providers may set tracking technologies (like cookies) to collect information about your use of our Services and across other websites and online services. These technologies allow these third parties to recognize your device to compile information about you or others who use your device. This information allows us and other companies to, among other things, analyze and track usage, determine the popularity of certain content, and deliver advertisements that may be more targeted to your interests. Please note this Privacy Policy only covers the collection of information by moviebomber.org and does not cover the collection of information by any third party advertisers or analytics providers.</p>

				<h5>Privacy Policy Changes</h5>
				<p>Although most changes are likely to be minor, moviebomber.org may change its Privacy Policy from time to time. Moviebomber.org encourages visitors to frequently check this page for any changes to its Privacy Policy. If we make changes, we will notify you by revising the change log below, and, in some cases, we may provide additional notice (such as adding a statement to our homepage, or sending you a notification through email or your dashboard). Your further use of the Services after a change to our Privacy Policy will be subject to the updated policy. That’s it! Thanks for reading.</p>	
            </div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>