<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | privacy policy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow">
	<meta name="description" content="moviebomber.org Privacy Policy">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/about">
						<i class="material-icons">lock</i>
						Privacy Policy
					</a>
				</h3>
				<h6>Introduction</h6>
            </div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>