<div id="searchModal" class="modal mt-2">
    <div class="modal-content">
        <h5 class="mb-2">Searching for a game...</h5>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="cancel" class="modal-close waves-effect waves-green btn-flat cyan-text">Cancel</a>
    </div>
</div>