<div class="row scontainer mb-0">
    <div class="col s12 valign-wrapper">
        <div class="sborder">score <span id="score">0</span></div>
        <div class="sborder">lives <span id="lives">6</span></div>
    </div>
</div>