<div class="row scontainer valign-wrapper">
    <div class="col s3 label">
        <div>SCORE</div>
    </div>
    <div class="col s3 stat">
        <div id="score">0</div>
    </div>
    <div class="col s3 label">
        <div>LIVES</div>
    </div>
    <div class="col s3 stat">
        <div id="lives">6</div>
    </div>
</div>