<div class="row scontainer mb-0">
    <div class="col s12 m6 mb-3 valign-wrapper">
        <div class="sborder">Score [<span id="score" class="green-text">0</span>]</div>
        <div class="sborder">Lives [<span id="lives" class="red-text">6</span>]</div>
        <div class="sborder">Timer [<span id="timer" class="red-text">10</span>]</div>
    </div>
    <div class="col s12 m6 mb-3 dots">
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
        <div class="dot-wrapper"><i class="material-icons">brightness_1</i></div>
    </div>
</div>