<div class="row scontainer mb-0">
    <div class="col s12 valign-wrapper">
        <div class="sborder">Score [<span id="score">0</span>]</div>
        <div class="sborder">Lives [<span id="lives">6</span>]</div>
        <div class="sborder">Timer [<span id="timer" class="red-text">10</span>]</div>
    </div>
</div>