<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | terms of use</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="description" content="View our Terms of Use">
	<% include ./robots %>
	<% include ./styles %>
	<% include ./fonts %>
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="content-wrapper">
				<div class="col s12 m10">
					<h5>
						<a href="/terms" class="cyan-text valign-wrapper">Terms of Use</a>
					</h5>

					<h5>Overview</h5>
					<p>We (the folks at moviebomber.org) are on a mission to connect and unite the online film and gaming communities. These Terms of Service (“Terms”) describe our commitments to you, and your rights and responsibilities when using our services. Please read them carefully and reach out to us if you have any questions. We’ve adapted these Terms, available under a Creative Commons Sharealike license, from the kind curators at Automattic. You can grab a copy of their unaltered Terms and other legal documents on <a href="https://github.com/Automattic/legalmattic">Github.</a></p>

					<h5>Terms of Service</h5>
					<p>These Terms govern your access to and use of moviebomber.org as well as all content, products and services available at or though this website (collectively, “Services”). These Terms also govern visitors’ access to and use of any websites that use our Services, such as websites hosted on moviebomber.org that are operated by our users. Our Services are offered subject to your acceptance, without modification, of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, moviebomber.org’s Privacy Policy), and procedures that may be published from time to time by moviebomber.org (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and the Agreement will apply to any upgrades. Please read the Agreement carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to become bound by the Agreement. If you do not agree to all the terms of the Agreement, then you may not access or use our Services.</p>

					<h5>1. Who’s Who</h5>
					<p>Throughout these Terms, “you” applies to both individuals and entities that access or use our Services. If you are an individual using our Services on behalf of an entity, you represent and warrant that you have the authority to bind that entity to the Agreement and that by using our Service(s), you are accepting the Agreement on behalf of that entity.</p>
					
					<h5>2. Your Account</h5>
					<p>Where use of our Services requires an account, you agree to provide us with complete and accurate information when you register for an account. You will be solely responsible and liable for any activity that occurs under your username. You are responsible for keeping your account information up-to-date and for keeping your password secure.</p>
					<p>You are responsible for maintaining the security of your account and any Service-related website, store, or other content, and you are fully responsible for all activities that occur under your account and any other actions taken in connection with our Services. You shall not share or misuse your access credentials. You must immediately notify us of any unauthorized uses of your account or of any other breach of security. We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.</p>
					<p>When you create an account with moviebomber.org, we consider that to be an inquiry about our products and services, which means that we may contact you to share more details about what we have to offer. Don't worry -- if you aren't interested in learning more, you can opt out of the marketing communication, whether it's an email, phone call, or text message.</p>

					<h5>3. Minimum Age Requirements</h5>
					<p>Our Services are not directed to children. Access to and use of our Services is only for those over the age of 13 (or 16 in the European Union). If you are younger than this, you may not register for or use our Services. Any person who registers as a user or provides their personal information to our Services represents that they are 13 years of age or older (or 16 years or older in the European Union).</p>

					<h5>4. Responsibility of Visitors and Users</h5>
					<p>We have not reviewed, and cannot review, all of the content (such as, but not limited to, text, photo, video, audio, code, computer software, items for sale, or other materials) posted to our Services by users or anyone else (“Content”) and are not responsible for any use or effects of such Content. So, for example:</p>
					<ul>
						<li>We do not endorse any Content or represent that Content is accurate, useful, or non-harmful. Content could be offensive, indecent, or objectionable; include technical inaccuracies, typographical mistakes, or other errors; or violate or infringe the privacy, publicity rights, intellectual property rights, or other proprietary rights of third parties.</li>
						<li>If you post Content, comment on a website, or otherwise make (or allow any third party to make) Content available on our Services, you are entirely responsible for the Content, and any harm resulting from, that Content or your conduct.</li>
						<li>We disclaim any responsibility for any harm resulting from anyone’s use, purchase, or downloading of Content. If you access or use any Content, you are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</li>
						<li>Any Content offered for sale through any of our Services are the seller’s sole responsibility, and you agree that you will look solely to the seller for any damages that result from your purchase or use of Content.</li>
						<li>We are not a party to, and will have no responsibility or liability for, any communications, transactions, interactions, or disputes between you and the provider of any Content.</li>
						<li>Please note that additional third party terms and conditions may apply to the downloading, copying, purchase, or use of Content.</li>
					</ul>
					<p>We also have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and web pages that link to, or are linked from, moviebomber.org or our other Services. For example:</p>
					<ul>
						<li>We do not have any control over those websites and are not responsible for their contents or their use.</li>
						<li>The existence of a link to or from one of our Services does not represent or imply that we endorse such website.</li>
						<li>You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.</li>
						<li>We disclaim any responsibility for any harm resulting from non-moviebomber.org websites.</li>
					</ul>

					<h5>5. General Representation and Warranty</h5>
					<p>You represent and warrant that your use of our Services:</p>
					<ul>
						<li>Will be in strict accordance with these Terms;</li>
						<li>Will comply with all applicable laws and regulations (including, without limitation, all applicable laws regarding online conduct and acceptable content, privacy, data protection, and the transmission of technical data exported from the United States or the country in which you reside);</li>
						<li>Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of illegal activities;</li>
						<li>Will not infringe or misappropriate the intellectual property rights of any third party;</li>
						<li>Will not overburden moviebomber.org's systems, as determined by us in our sole discretion;</li>
						<li>Will not disclose sensitive personal information of others;</li>
						<li>Will not be used to send spam or bulk unsolicited messages;</li>
						<li>Will not interfere with, disrupt, or attack any service or network; and</li>
						<li>Will not be used to create, distribute, or enable material that is - or that facilitates or operates in conjunction with - malware, spyware, adware, or other malicious programs or code.</li>
					</ul>

					<h5>6. Copyright Infringement</h5>
					<p>As we ask others to respect our intellectual property rights, we respect the intellectual property rights of others. If you believe that material located on or associated with a moviebomber.org product or service violates your copyright, please notify us immediately.</p>

					<h5>7. Intellectual Property</h5>
					<p>The Agreement does not transfer from moviebomber.org to you any moviebomber.org or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with moviebomber.org. Moviebomber.org, the moviebomber.org logo, and all other trademarks, service marks, graphics, and logos used in connection with moviebomber.org or our Services, are trademarks or registered trademarks of moviebomber.org or moviebomber.org’s licensors. Other trademarks, service marks, graphics, and logos used in connection with our Services may be the trademarks of other third parties. Your use of our Services grants you no right or license to reproduce or otherwise use any moviebomber.org or third party trademarks.</p>

					<h5>8. Third Party Services</h5>
					<p>In using the Services, you may use services, products, software, or applications developed by a third party (“Third Party Services”) on your website. If you use any Third Party Services, you understand that:</p>
					<ul>
						<li>Third Party Services are not vetted, endorsed, or controlled by moviebomber.org.</li>
						<li>Any use of a Third Party Service is at your own risk, and we shall not be responsible or liable to anyone for Third Party Services.</li>
						<li>Your use is solely between you and the respective third party (“Third Party”) and will be governed by the Third Party’s terms and policies. It is your responsibility to review the Third Party’s terms and policies before using a Third Party Service.</li>
						<li>Some Third Party Services may request or require access to your (yours, your visitors’, or customers’) data, for example, via a pixel or cookie. If you use the Third Party Service or grant access, your data will be handled in accordance with the Third Party’s privacy policy and practices. We do not have control over how a Third Party Service may use your data. You should carefully review Third Party Services’ data collection, retention, and use policies and practices before enabling Third Party Services.</li>
						<li>Third Party Services may not work appropriately with your website, and we may not be able to provide support for issues caused by any Third Party Services.</li>
						<li>If you have questions or concerns about how a Third Party Service operates, or need support, please contact the Third Party directly</li>
					</ul>
					<p>In rare cases, we may at our discretion, suspend, disable, or remove Third Party Services from your account or website.</p>

					<h5>9. Changes</h5>
					<p>We are constantly updating our Services and that means sometimes we have to change the legal terms under which our Services are offered. These Terms may only be modified by a written amendment signed by an authorized executive of moviebomber.org, or by the posting by moviebomber.org of a revised version. If we make changes that are material, we will let you know by posting on one of our blogs, or by sending you an email or other communication before the changes take effect. The notice will designate a reasonable period of time after which the new terms will take effect. If you disagree with our changes, then you should stop using our Services within the designated notice period, or once the changes become effective. Your continued use of our Services will be subject to the new terms. However, any dispute that arose before the changes shall be governed by the Terms (including the binding individual arbitration clause) that were in place when the dispute arose.</p>

					<h5>10. Termination</h5>
					<p>We may terminate your access to all or any part of our Services at any time, with or without cause, with or without notice, effective immediately. We have the right (though not the obligation) to, in our sole discretion, (i) reclaim your username or website’s URL due to prolonged inactivity, (ii) refuse or remove any content that, in our reasonable opinion, violates any moviebomber.org policy or is in any way harmful or objectionable, (iii) ask you to make some adjustments, restrict the resources your website uses, or terminate your Services, if we believe your website’s storage or bandwidth usage is out of hand and/or burdens our systems (which is rare and typically only occurs when a website is used for file sharing or storage), or (iv) terminate or deny access to and use of any of our Services to any individual or entity for any reason. We will have no obligation to provide a refund of any amounts previously paid.</p>
					<p>If you wish to terminate the Agreement or your moviebomber.org account, you may simply discontinue using our Services.</p>
					<p>All provisions of the Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>

					<h5>11. Disclaimer of Warranties</h5>
					<p>Our Services are provided “as is.” moviebomber.org and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither moviebomber.org, nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you’re actually reading this, here’s a treat. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.</p>

					<h5>12. Jurisdiction and Applicable Law.</h5>
					<p>Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our Services will be governed by the laws of the state of Michigan, U.S.A., excluding its conflict of law provisions.</p>

					<h5>13. Arbitration Agreement</h5>
					<p>Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under the Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in Detroit, Michigan, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce the Agreement shall be entitled to costs and attorneys’ fees.</p>

					<h5>14. Limitation of Liability</h5>
					<p>In no event will moviebomber.org, or its suppliers or licensors, be liable with respect to any subject matter of the Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed $50 or the fees paid by you to moviebomber.org under the Agreement during the twelve (12) month period prior to the cause of action, whichever is greater. Moviebomber.org shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p>

					<h5>15. Indemnification</h5>
					<p>You agree to indemnify and hold harmless moviebomber.org, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all losses, liabilities, demands, damages, costs, claims, and expenses, including attorneys’ fees, arising out of or related to your use of our Services, including but not limited to your violation of the Agreement, Content that you post, and any ecommerce activities conducted through your or another user’s website.</p>

					<h5>16. US Economic Sanctions</h5>
					<p>You expressly represent and warrant that your use of our Services and/or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and we reserve the right to terminate accounts or access of those in the event of a breach of this condition.</p>

					<h5>17. Translation</h5>
					<p>These Terms were originally written in English (US). We may translate these terms into other languages. In the event of a conflict between a translated version of these Terms and the English version, the English version will control.</p>

					<h5>18. Miscellaneous</h5>
					<p>The Agreement constitutes the entire agreement between moviebomber.org and you concerning the subject matter hereof. If any part of the Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of the Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under the Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Moviebomber.org may assign its rights under the Agreement without condition. The Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
				</div>
            </div>
		</div>
	</main>

	<% include ./footer %>

	<script>
		var socketString = <%-JSON.stringify(socket)%>;
	</script>
	<script src="<%-socket%>/socket.io/socket.io.js"></script>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/materialize.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/sweetalert.min.js"></script>
</body>
</html>