<!DOCTYPE html>
<html lang="en">
<head>
	<title>moviebomber.org | terms of use</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="movie trivia, trivia, free trivia, movies">
	<meta name="robots" content="noindex,nofollow">
	<meta name="description" content="Please review the moviebomber.org terms of use!">
	<link rel="stylesheet" href="/css/materialize.min.css">
	<link rel="stylesheet" href="/css/mb.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
</head>
<body>
	<% include ./nav %>

	<main>
		<div class="top-wrapper row">
			<div class="col s12 m8 offset-m2 l6 offset-l3">
				<h3>
					<a href="/terms">
						<i class="material-icons">priority_high</i>
						Terms of Use.
					</a>
				</h3>
				<h6>Introduction</h6>
                <p>
                    Welcome to moviebomber.org located at https://moviebomber.org (this “Site”). This page explains our terms of use. When you use this Site you are agreeing to all the rules on this page.
                </p>
                <p>
                    By using this Site and services (together with the Site, the “Services”) offered by moviebomber.org (together with our subsidiaries, affiliates, representatives, and directors - collectively “moviebomber”, “we”, or “us”) you’re agreeing to these legally binding rules (the “Terms”). You’re also agreeing to our Privacy Policy and Cookie Policy.
                </p>
                <p>
                    These terms are subject to ongoing modification and if you continue using moviebomber.org after a change, that indicates that you accept the new terms. But don’t let this alarm you, we will notify our users of any significant changes to our terms on the Site.
                </p>
            </div>
		</div>
	</main>

	<% include ./footer %>

	<script type="text/javascript" src="/js/materialize.min.js"></script>
	<script type="text/javascript" src="/js/init.js"></script>
</body>
</html>