<div id="visor" class="row scontainer visor-wrapper mb-0">
    <div class="visor-row top mb-2">
        <div class="visor-icon-box">
            <div class="visor-icon">
                <img src="/images/user_1.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div id="visorUser"></div>
                <div id="visorUserRank" class="visor-rank"></div>
            </div>
        </div>
        <div class="visor-clock">
            <span class="red-text">
                <span id="clockMinutes">3</span>:<span id="clockSeconds">00</span>
            </span>
        </div>
        <div class="visor-icon-box">
            <div class="visor-icon">
                <img id="opponentIcon" src="/images/user_1.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div id="visorOpponent"></div>
                <div id="visorOpponentRank" class="visor-rank"></div>
            </div>
        </div>
    </div>
    <div class="visor-row middle">
        <div class="progress">
            <div id="userProgress" class="determinate"></div>
        </div>
    </div>
    <div class="visor-row bottom">
        <div class="progress">
            <div id="opponentProgress" class="determinate"></div>
        </div>
    </div>
</div>