<div id="visor" class="row scontainer visor-wrapper mb-0">
    <div class="visor-row top mb-2">
        <div class="visor-icon-box">
            <div class="visor-icon">
                <img src="/images/user_1.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div id="user">Player 1</div>
                <div id="userRank">Crew Member</div>
            </div>
        </div>
        <div class="visor-clock">
            <span class="red-text">10</span>
        </div>
        <div class="visor-icon-box">
            <div class="visor-icon">
                <img src="/images/user_1.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div id="user">Player 2</div>
                <div id="userRank">Crew Member</div>
            </div>
        </div>
    </div>
    <div class="visor-row middle">
        <div class="progress">
            <div class="determinate"></div>
        </div>
    </div>
    <div class="visor-row bottom">
        <div class="progress">
            <div class="determinate"></div>
        </div>
    </div>
</div>