<div id="visor" class="row scontainer visor-wrapper mb-0">
    <div class="visor-row top mb-2">
        <div class="visor-icon-box">
            <div class="visor-icon hide-on-small-only">
                <img id="userIcon" src="/images/user_2.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div class="visor-username" id="visorUser"></div>
                <div id="visorUserRank" class="visor-rank"></div>
            </div>
        </div>
        <div class="visor-clock">
            <!-- placeholder -->
        </div>
        <div class="visor-icon-box">
            <div class="visor-icon hide-on-small-only">
                <img id="opponentIcon" src="/images/user_3.png" alt="user_icon">
            </div>
            <div class="visor-text">
                <div class="visor-username" id="visorOpponent"></div>
                <div id="visorOpponentRank" class="visor-rank"></div>
            </div>
        </div>
    </div>
    <div class="visor-row middle">    
        <div class="progress user col s6">
            <div id="userProgress" class="determinate"></div>
        </div>
        <div class="progress opponent col s6">
            <div id="opponentProgress" class="determinate"></div>
        </div>
    </div>
</div>