.article a {
    color: #fafafa;
    text-decoration: underline;
}

a.article-link {
    color: #fafafa;
}

.article-title a {
    font-size: 1.4rem;
    color: #99a9b5;
}

.article-title a:hover {
    color: #00ced1;
}