.article {
    background-color: #292929;
    margin-bottom: 4%;
    height: 100px;
}

.article div {
    flex-basis: 100%;
}

.info-wrapper {
    font-size: .9rem;
    color: #a9bdc7;
}

.title-wrapper {
    font-size: 1.1rem;
}

.card-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}