.prompts-container, 
.button-wrapper {
    color: #fafafa;
	background-color: #607d8b;
}

.prompts-container {
	display: flex;
	height: 110px;
}

.prompts-container .icon,
.button-wrapper .icon {
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prompts-container .text {
	flex-basis: 80%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.prompts-container .text .prompt {
    flex-basis: 100%;
    padding-left: 1%;
    font-weight: 500;
}

.button-wrapper {
    display: flex;
}

.button-wrapper .icon {
	font-weight: 700;
}

.button-wrapper .text {
    align-items: center;
    display: flex;
	flex-basis: 80%;
    height: 50px;
    padding-left: 1%;
    font-weight: 500;
}

#faceLoader {
    animation: spinPulse 1s infinite ease-in-out;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite ease-in-out;
}

@keyframes spinPulse {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(15deg) scale(1.8);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(15deg) scale(1.8);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
    }
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transfrom: rotate(0deg) scale(1);
    }
    50% {
        -moz-transform: rotate(15deg) scale(1.8);
    }
    100% {
        -moz-transform: rotate(360deg) scale(1);
    }
}