.mb-orange-text {
    color: #ff9800;
}

.mb-red-text {
    color: #f44336;
}

::-webkit-input-placeholder { color: #717171; }
::-moz-placeholder { color: #717171; }
:-ms-input-placeholder { color: #717171; }
::-ms-input-placeholder { color: #717171; }
::placeholder { color: #717171; }