.mb-red-text {
    color: #f44336;
}

.mb-green-text {
    color: #01d277;
}

.dark-light {
    background-color: rgba(255, 255, 255, 0.07);
}

::-webkit-input-placeholder { color: #717171; }
::-moz-placeholder { color: #717171; }
:-ms-input-placeholder { color: #717171; }
::-ms-input-placeholder { color: #717171; }
::placeholder { color: #717171; }