#go {
	display: none;
}

.gcontainer {
	max-width: 650px;
	margin: 0 auto;
	padding: 3%;
}

.gcontainer .gomessage {
	font-size: .8rem;
}

.scontainer {
	font-size: 1.5rem;
}

.sborder	{
	padding-right: 15px;
}

.ucontainer {
	margin-top: 10px;
}

.pbox {
	background-color: #fafafa;
	border: 1px solid #c1cbff;
	border-radius: 3px;
	color: #212331;
	display: flex;
	height: 110px;
}

.pbox .icon {
	flex-basis: 20%;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pbox .text {
	flex-basis: 80%;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: .9rem;
}

.pbox .text .prompt {
	flex-basis: 100%;
}

.bcontainer {
	display: flex;
}

.bcontainer .buttons {
	flex-basis: 100%;
	display: inline-grid;
}

.bbox {
	display: flex;
	border-radius: 3px;
	border: 1px solid #c1cbff;
}

.bbox .text {
	flex-basis: 100%;
	padding-left: 20px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color: #fafafa;
	height: 50px;
	display: flex;
	align-items: center;
}






.z-depth {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.slide {
	-webkit-animation: 1s slide;
	-o-animation: 1s slide;
	animation: 1s slide;
}

@media (min-width: 601px) {
	.buttons .btn {
		justify-content: flex-start;
	}
}

@keyframes slide {
	from {
		margin-left: -100px;
	}
	to {
		margin-left: 0%;
	}
}

.pulse {
    animation: pulse 1s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

i.pulse {
    color: #fafafa;
    margin-top: 50px;
    font-size: 250px;
    cursor: pointer;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}