.line {
    border-bottom: 1px solid #474747;
    padding-top: 12px;
    padding-bottom: 12px;
}

.correct {
    color: #01d277;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

.row.line {
    background-color: #212121;
}

.profile-header {
    height: 100px;
    background-color: #252525;
}

.profile-action-buttons a {
    color: grey;
    text-decoration: underline;
}

.profile-action-buttons a:hover {
    color: #00bcd4;
    text-decoration: underline;
}

