span {
    font-size: 4rem;
}

#response {
    display: none;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
 
@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

a#what {
    font-size: .6rem;
    text-decoration: underline;
}

canvas {
    max-width: 800px;
}

.newUser i.material-icons {
    font-size: 20px;
}

.newUser a {
    font-size: 14px;
}

.modal, 
.modal .modal-footer {
    background-color: #292929;
}

.btn-large:hover {
    background-color: #00BCD4;
}