.lobby-container {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
    border: 1px dashed #4a4a4a;
    padding-left: 2%;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

td, th {
    border-radius: 0;
}

.newUser a {
    font-size: 14px;
}

.newUser i.material-icons {
    font-size: 20px;
}

.new-users-container {
    width: 100%;
    border: 1px dashed #4a4a4a;
    padding: 2%;
}

.modal, 
.modal .modal-footer {
    background-color: #292929;
}

.modal .modal-close {
    font-weight: 700;
}

.btn-large:hover {
    background-color: #00BCD4;
}

.dark-icon {
    color: #555555;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00BCD4; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00BCD4; 
}