.lobby-container {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: scroll;
    border: 1px dashed #4a4a4a;
    padding-left: 2%;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

td, th {
    border-radius: 0;
}

.newUser a {
    font-size: 14px;
}

.newUser i.material-icons {
    font-size: 20px;
}

.new-users-container {
    width: 100%;
    border: 1px dashed #4a4a4a;
    padding: 2%;
}

.modal, 
.modal .modal-footer {
    background-color: #292929;
}

.modal .modal-close {
    font-weight: 700;
}

.btn-large:hover {
    background-color: #00BCD4;
}

.dark-icon {
    color: #555555;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #00BCD4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00BCD4;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.button-container .search {
    flex-basis: 49%;
    margin-bottom: 2%;
    display: flex;
    min-height: 65px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .06);
}

.search div {
    display: flex;
}

.search .count {
    flex-basis: 30%;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.search .mode {
    flex-basis: 70%;
    justify-content: flex-start;
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
}