body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Roboto', sans-serif; */
	color: #fafafa;
	background-color: #212331;
}

.mb-deep-grey { background-color: #425265 !important }

.mb-purple-text { color: #c63493 !important }
.mb-neon-blue-text { color: #00CED1 !important }
.mb-orange-text { color: #ef8321 !important } 
.mb-green-text { color: #1ed760 !important }
.mb-grey-blue-text { color: #5f727f !important }
.mb-grey-blue-light-text { color: #99a9b5 !important }

.mb-dark-red { background-color: #6f251f !important }
.mb-purple { background-color: #c63493 !important }
.mb-neon-blue { background-color: #00CED1 !important }
.mb-orange { background-color: #ef8321 !important } 
.mb-green { background-color: #1ed760 !important }
.mb-grey-blue { background-color: #5f727f !important }
.mb-grey-blue-light { background-color: #99a9b5 !important }

::-webkit-input-placeholder { color: #1d282f; }
::-moz-placeholder { color: #1d282f; }
:-ms-input-placeholder { color: #1d282f; }
::-ms-input-placeholder { color: #1d282f; }
::placeholder { color: #1d282f; }

main {
	min-height: -moz-calc(100% - 56px);
	min-height: -webkit-calc(100% - 56px);
	min-height: -o-calc(100% - 56px);
	min-height: calc(100% - 56px);
}

footer.page-footer {
	background-color: #181828;
}

.page-footer .footer-copyright {
	background-color: #181828;
}

h1, h2, h3, h4 {
	color: #d1d1d1;
}

h4 {
	font-weight: 300;
}

.mb-3 {
	margin-bottom: 3%;
}

.btn-large {
	font-weight: 700;
}

.divider {
	background-color: #3f3f3f;
}

.point {
	cursor: pointer !important;
}

.heavy {
	font-weight: 700;
}

a {
	color: #fafafa;
}

a.paginate_button {
	color: #fafafa;
	padding-right: 10px;
	font-weight: 700;
}

div.dataTables_paginate > a {
	cursor: pointer;
}

div.dataTables_paginate > span > a {
	cursor: pointer;
}

a.paginate_button.current {
	color: #cccccc;
}

.mb-blue-text {
	color: #8ba2fd;
}

.mb-white-text {
	color: #fafafa;
}

.white-text {
	color: #fff;
}

.dark-blue {
	background-color: #190b3a;
}

.z-depth {
	-webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.light {
	font-weight: 100;
}

#disclaimer {
	font-size: .7rem;
}

img#tmdb {
	height: 30px;
}

nav {
	background-color: #212331;
	box-shadow: none;
	-webkit-box-shadow: none;
	max-width: 1600px;
	margin: 0 auto;
}

nav .brand-logo {
	font-size: 1.5rem;
	color: #fafafa;
}

nav a {
	color: #cccccc;
}

nav ul a {
	color: #cccccc;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0);
}

.sidenav {
	background-color: #1b2530;
}

.sidenav li > a {
	color: #fafafa;
}

.sidenav .nav-image {
	background-image: url(/images/wick.jpg);
	background-position: top;
	background-size: cover;
	height: 100px;
	width: 100%;
}

.top-wrapper {
	padding-right: 4%;
	padding-left: 4%;
}

.bottom-wrapper {
	height: 600px;
	background-image: url(/images/mandy.gif);
	background-position: top;
	background-size: contain;
}

@media (min-width: 601px) {
	.bottom-wrapper {
		background-position: top;
	}
}

.dropdown-content {
	background-color: #1b2530;
}

.dropdown-content li > a {
	color: #fafafa;
}

.dropdown-content li:hover {
	background-color: #243341;
}

.content-wrapper {
	height: 100%;
}

.gamebox {
	margin-top: 5%;
}

.gamebox i.material-icons {
	color: #34385a;
	background-color: #fafafa;
}

.sidebar {
	width: 20px;
}

.buttons-wrapper {
	display: flex;
}

.buttons-wrapper .buttons {
	flex-basis: 100%;
	display: inline-grid;
}

.buttons-wrapper .stats {
	flex-basis: 20%;
}

.stats {
	display: flex;
}

.stats div {
	margin-right: 5%;
	font-weight: 700;
}

/* --------------------------------- */

.stuff {
	display: flex;
	border: 2px solid #fafafa;
	border-radius: 5px;
}

.stuff div {
	flex-basis: 50%;
}

.scontainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scontainer div {
	flex-basis: 50%;
	text-align: center;
}

.scontainer .icon {
	padding: 2%;
	color: #fafafa;
	font-weight: 700;
	font-size: 12px;
}

.scontainer .text {
	padding: 2%;
	font-size: 1.5rem;
	font-weight: 700;
	color: #01d277;
}


/* --------------------------------- */

.pcontainer {
	display: flex;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #fff;
	height: 110px;
}

.pcontainer div {
	padding: 1%;
}

.pcontainer i {
	background-color: #fff;
	color: #13172f;
}

.pcontainer .icon {
	flex-basis: 20%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #fafafa;
	/* this container */
	display: flex;
	justify-content: center;
	align-items: center;
}

.pcontainer .text {
	flex-basis: 80%;
	background-color: #fafafa;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #34385a;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.pcontainer .text .prompt {
	flex-basis: 100%;
}

.slide {
	-webkit-animation: 1s slide;
	-o-animation: 1s slide;
	animation: 1s slide;
}

@keyframes slide {
	from {
		margin-left: -100px;
	}
	to {
		margin-left: 0%;
	}
}

/* --------------------------------- */

.bcontainer {
	display: flex;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #fff;
}

.bcontainer div {
	padding: 1%;
}

.bcontainer i {
	background-color: #fff;
	color: #34385a;
}

.hover:hover {
	font-weight: 700;
	background-color: #fff;
	color: #34385a;
}

.bcontainer .icon {
	flex-basis: 20%;
	background-color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #fafafa;
	/* this container */
	display: flex;
	justify-content: center;
	align-items: center;
}

.bcontainer .text {
	flex-basis: 80%;
	background-color: #fafafa;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #34385a;
	height: 50px;
	display: flex;
	align-items: center;
}

[type="checkbox"]+span:not(.lever) {
	color: #fff;
}

/* --------------------------------- */

.collapsible-header {
	background-color: transparent;
	overflow: auto;
}

.links {
	height: 40px;
}

.links div {
	float: left;
	margin-right: 15px;
	cursor: pointer;
}

ul:not(.browser-default) > li.link {
	list-style-type: none;
	display: inline;
	padding-right: 20px;
}

ul:not(.browser-default) > li.link a:hover {
	color: #d941f2;
}

ul.sidenav:not(.browser-default) > li {
	list-style-type: hiragana;
}

ul.sidenav:not(.browser-default) {
	padding-left: 40px;
}

.gameover form {
	border: 1px solid #009688;
    border-radius: 5px;
    padding: 2%;
}

.gameover .row form.col {
	padding: 3%;
}

.gameover .row {
	margin-bottom: 0;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default) {
	color: #fafafa;
}

input[type=search]:not(.browser-default) {
	color: #fafafa;
}

.pagination li.active {
	background-color: none;
}

.pagination li {
	outline: 0;
}

/* Media Queries --- Mobile First */
@media (min-width: 601px) {
	div.top-wrapper {
		width: 100%;
	}
	div.top-wrapper-faq {
		width: 50%;
	}
	nav .brand-logo {
		padding-left: 5%;
	}
	.buttons .btn {
		justify-content: flex-start;
	}
}

/* --------------------------------- */

#loader {
	display: none;
}

.loader {
	width: 100%;
	text-align: center;
}

.line-scale > div {
	background-color: #34385a;
}

/* --------------------------------- */

i.pulse {
    color: #fafafa;
    margin-top: 50px;
    font-size: 250px;
    cursor: pointer;
}

p.go {
    font-weight: 700;
    font-size: 30px;
}

a.myscore {
	display: none;
}

.gameover {
    display: none;
    margin-top: 5%;
    height: 400px;
    text-align: center;
}

.pulse {
    animation: pulse 1s infinite;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* --------------------------------- 
	Blog
------------------------------------ */

.article p {
	font-size: 16px;
}