nav {
	background-color: #212331;
	box-shadow: none;
	-webkit-box-shadow: none;
	max-width: 1600px;
	margin: 0 auto;
}

nav .brand-logo {
	font-size: 1.5rem;
	color: #fafafa;
}

nav a {
	color: #cccccc;
}

nav ul a {
	color: #cccccc;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0);
}

.sidenav {
	background-color: #181828;
}

.sidenav li > a {
	color:#607d8b;
}

.sidenav li > a:hover {
	background-color: transparent;
}

.sidenav .nav-image {
	background-image: url(/images/wick.jpg);
	background-position: top;
	background-size: cover;
	height: 100px;
	width: 100%;
}

ul.sidenav:not(.browser-default) > li {
	list-style-type: hiragana;
}

ul.sidenav:not(.browser-default) {
	padding-left: 40px;
}

.dropdown-content {
	background-color: #212331;
}

.dropdown-content li > a {
	color: #fafafa;
}

.dropdown-content li:hover {
	background-color: transparent;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
    color: #607D8B;
}

input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #607D8B;
    -webkit-box-shadow: 0 1px 0 0 #607D8B;
    box-shadow: 0 1px 0 0 #607D8B;
}

/* Media Queries --- Mobile First */
@media (min-width: 601px) {
	nav .brand-logo {
	    padding-left: 5%;
	}
}