nav {
	background-color: #1b1b1b;
	box-shadow: none;
	-webkit-box-shadow: none;
	max-width: 1600px;
	margin: 0 auto;
}

nav .brand-logo {
	font-size: 1.5rem;
	color: #fafafa;
}

nav a {
	color: #cccccc;
}

nav ul a {
	color: #cccccc;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0);
}

.sidenav {
	background-color: #292929;
}

.sidenav li > a {
	color: #828282;
}

.sidenav li > a:hover {
	background-color: transparent;
}

ul.sidenav:not(.browser-default) > li {
	list-style-type: hiragana;
}

ul.sidenav:not(.browser-default) {
	padding-left: 40px;
}

.dropdown-content {
	background-color: #292929;
}

.dropdown-content li > a {
	color: #fafafa;
	font-size: 14px;
}

.dropdown-content li:hover {
	background-color: transparent;
}

.dropdown-trigger i.material-icons {
	color: #01d277;
	font-size: 14px;
	display: none;
}

@media (min-width: 993px) {
	nav .brand-logo { padding-left: 5% }
}