h5 i.material-icons {
    padding-right: 15px;
}

input[type=password]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default) {
    padding: 5px;
}

.asterisk {
    font-size: .8rem;
}

.btn-large {
    max-width: 300px;
}

h5 {
    font-weight: 300;
}

h5 a:hover {
    color: #00CED1 !important;
    cursor: pointer !important;
}

.edit-label {
    font-size: .8rem;
}

.collapsible,
.collapsible-header,
.collapsible-body {
    border: 1px solid #1d282f;
}

.collapsible-header {
	background-color: transparent;
	overflow: auto;
    font-size: 22px;
    font-weight: 300;
    color: #425265;
}

.alert {
    background-color: #FFEB3B;
    color: #0F171E;
}

i.alert-icon {
    font-size: 15px;
    cursor: pointer;
}