h5 i.material-icons {
    padding-right: 15px;
    color: #9e9e9e;
}

input[type=password]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default) {
    padding: 5px;
}

.asterisk {
    font-size: .8rem;
}

.btn-large {
    max-width: 300px;
}