h5 i.material-icons {
    padding-right: 15px;
}

input[type=password]:not(.browser-default),
input[type=text]:not(.browser-default),
input[type=email]:not(.browser-default) {
    padding: 5px;
}

.asterisk {
    font-size: .8rem;
}

.btn-large {
    max-width: 300px;
}

h5 a:hover {
    color: #00CED1 !important;
    cursor: pointer !important;
}