.line {
    border-bottom: 1px solid #474747;
    padding-bottom: 15px;
}

.title {
    padding-left: 5px;
}

.progress {
    background-color: #444444;
}

.progress .determinate {
    background-color: #01d277;
}

.progress-data {
    font-size: .8rem;
    font-weight: 500;
}

.correct {
    color: #01d277;
}

.incorrect {
    color: #f44336;
}

td span {
    margin-right: 1%;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.01);
}
