/* ===================================================
// Tape
   =================================================== */
.tape-box {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tape-icon {
    flex-basis: 20%;
}

.tape-title {
    flex-basis: 60%;
}

.tape-icon.correct .material-icons {
    color: #01d277;
}

.tape-icon.incorrect .material-icons {
    color: #f44336;
}

/* ===================================================
// Visor
   =================================================== */
   img {
    height: 50px;
    width: 50px;
}

.visor-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.visor-icon-box {
    flex-basis: 45%;
    display: flex;
    flex-wrap: wrap;
}

.visor-icon-box div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.visor-clock {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    font-weight: 700;
    min-width: 50px;
    opacity: .1; /* until timer is setup */
}

.visor-text {
    flex-wrap: wrap;
}

.visor-row {
    display: flex;
    width: 100%;
}

.visor-text div {
    margin-top: 3px;
}

.visor-rank {
    font-size: .8rem;
    font-weight: 500;
    text-transform: capitalize;
}

.visor-rank span {
    margin-right: 5px;
}

.visor-username {
    font-weight: 700;
    letter-spacing: 1px;
}

.progress {
    height: 7px;
    border-radius: 0;
}

.progress.user {
    background-color: #444444;
}

.progress.user .determinate {
    background-color: #00bcd4;
}

.progress.opponent {
    background-color: #00bcd4;
}

.progress.opponent .determinate {
    background-color: #444444;
    width: 100%;
}